<% provide :title, t(".title") %>
<h1><%= t ".h1" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @flower do |f| %>

      <%= f.label :name, t(".name") %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :description, t(".description") %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.label :image, t(".image") %>
      <%= f.file_field :image, accept: Settings.accept, class: "form-control" %>

      <%= f.label :price, t(".price") %>
      <%= f.text_field :price, class: "form-control" %>

      <%= f.label :discount, t(".discount") %>
      <%= f.text_field :discount, class: "form-control" %>

      <%= f.submit t(".submit"), class: "btn btn-primary" %>
    <% end %>
    
    <div class="gravatar_edit">
      <%= gravatar_for @flower %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>

