<% provide :title, @flower %>
<h1><%= t".h1" %></h1>

<%= @flower.name %>
<%= sanitize(@flower.description) %>
<%= image_tag flower.image.url if flower.image? %>
<%= @flower.price %>
<%= @flower.discount %>

<%= link_to t(".back"), index_flower_path(@flower) %>
<%= link_to t(".edit"), edit_flower_path(@flower) %>
<%= link_to t(".delete)", flower_path(@flower), method: :delete, data: { confirm: t(".confirm")} %>
