<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <h1><%= yield :h1_tag %></h1>
    <%= yield %>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag("anh1.jpg") %>
          <div class="caption">
            <h3>...</h3>
            <p>...</p>
            <p>
              <%= link_to t(:details), "#", class: "btn btn-primary", role: "button" %>
              <%= link_to t(:addcart), "#", class: "btn btn-default", role: "button" %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <p>
      <%= link_to "English", locale:"en" %>
      <%= link_to "Vietnamese", locale:"vi" %>
    </p>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
